*.fasl
*.dx32fsl
*.dx64fsl
*.lx32fsl
*.lx64fsl
*.x86f
*~
.#*
/data
/db/.cpcache
/db/.nrepl-port
/db/backups
!/db/tables-create.sql
!/db/tables-drop.sql
/src/.nrepl-history
/src/r99
env.sh
.rebel_readline_history
/log
