[Unit]
Desription = backup r99 database

[Timer]
OnStartupSec = 15min
OnCalendar   = *-*-* 07:30
Persistent   = true

[Install]
WantedBy = timers.target
