[Unit]
Description = r99 db backup

[Service]
Type=oneshot
User=ubuntu
Environment=R99_USER=
Environment=PGPASSWORD=
ExecStart=/some/where/r99-backup-daily.sh
