pre.answer {
/*
 border: 1pt solid gray;
*/
    padding: 5px;
}

form.answer {
    font-family: monospace, serif;
}

a.found {
    background: #3399ff;
    color: white;
}

a.not-found {
}

p.mono {
    font-family: monospace, serif;
}

span.yes {
    color: red;
}
