pre.answer {
    border: 1pt solid gray;
    padding: 5px;
}

form.answer {
    font-family: monospace, serif;
}

a.found {
    background: blue;
    color: white;
}

a.not-found {
}

p.mono {
    font-family: monospace, serif;
}


